body{
    background-image: url('https://images.pexels.com/photos/255514/pexels-photo-255514.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    opacity: 0.4;
}

table {
    width: 100%;

    position: relative;

}
td {
    border: 2px solid black;
    padding: 0 10px;
}